In [80]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("HDFSToSpark") \
    .getOrCreate()

In [81]:
hdfs_path = "hdfs:///user/ProjectTweets.csv"  # HDFS'deki dosyanın yolunu belirtin

df = spark.read.csv(hdfs_path, header=True, inferSchema=True)

In [90]:
df.show()

+---+----------+----------+--------+---------------+--------------------+
|  0|       ids|      date|    flag|           user|                text|
+---+----------+----------+--------+---------------+--------------------+
|  1|1467810672|07/04/2009|NO_QUERY|  scotthamilton|is upset that he ...|
|  2|1467810917|07/04/2009|NO_QUERY|       mattycus|@Kenichan I dived...|
|  3|1467811184|07/04/2009|NO_QUERY|        ElleCTF|my whole body fee...|
|  4|1467811193|07/04/2009|NO_QUERY|         Karoli|@nationwideclass ...|
|  5|1467811372|07/04/2009|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|  6|1467811592|07/04/2009|NO_QUERY|        mybirch|         Need a hug |
|  7|1467811594|07/04/2009|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|  8|1467811795|07/04/2009|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|  9|1467812025|07/04/2009|NO_QUERY|        mimismo|@twittera que me ...|
| 10|1467812416|07/04/2009|NO_QUERY| erinx3leannexo|spring break in p...|
| 11|1467812579|07/04/2009|NO_QUERY|   pardonlauren|I just re-pierced...|
| 12|1467812723|07/04/2009|NO_QUERY|           TLeC|@caregiving I cou...|
| 13|1467812771|07/04/2009|NO_QUERY|robrobbierobert|@octolinz16 It it...|
| 14|1467812784|07/04/2009|NO_QUERY|    bayofwolves|@smarrison i woul...|
| 15|1467812799|07/04/2009|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|
| 16|1467812964|07/04/2009|NO_QUERY| lovesongwriter|Hollis' death sce...|
| 17|1467813137|07/04/2009|NO_QUERY|       armotley|about to file taxes |
| 18|1467813579|07/04/2009|NO_QUERY|     starkissed|@LettyA ahh ive a...|
| 19|1467813782|07/04/2009|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|
| 20|1467813985|07/04/2009|NO_QUERY|         quanvu|@alydesigns i was...|
+---+----------+----------+--------+---------------+--------------------+
only showing top 20 rows

In [83]:
# Sütun başlıklarını tanımlayın
new_columns = ["ids", "date", "flag", "user", "text"]

# Mevcut veri çerçevesinin sütun adlarını güncelleyin
for i, column_name in enumerate(new_columns):
    df = df.withColumnRenamed(df.columns[i + 1], column_name)

# DataFrame'i gösterin
df.show()

+---+----------+--------------------+--------+---------------+--------------------+
|  0|       ids|                date|    flag|           user|                text|
+---+----------+--------------------+--------+---------------+--------------------+
|  1|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|  2|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|  3|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|  4|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
|  5|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|  6|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |
|  7|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|  8|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|  9|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|
| 10|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|
| 11|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|
| 12|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|
| 13|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|
| 14|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|
| 15|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|
| 16|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|
| 17|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |
| 18|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|
| 19|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|
| 20|1467813985|Mon Apr 06 22:20:...|NO_QUERY|         quanvu|@alydesigns i was...|
+---+----------+--------------------+--------+---------------+--------------------+
only showing top 20 rows

In [89]:
# PySpark DataFrame'deki toplam satır sayısını alın
row_count = df.count()

# Sonucu yazdırın
print("Toplam Satır Sayısı:", row_count)

Toplam Satır Sayısı: 1599999

In [85]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

In [88]:
# "date" sütununu alın
date_column = df.select("date")

# Sonucu gösterin
date_column.show(5, truncate=False)

+----------+
|date      |
+----------+
|07/04/2009|
|07/04/2009|
|07/04/2009|
|07/04/2009|
|07/04/2009|
+----------+
only showing top 5 rows

In [92]:
# Veri çerçevesinin sütun veri tiplerini alın
column_data_types = df.dtypes

# Sonuçları görüntüle
for column_name, data_type in column_data_types:
    print(f"Sütun Adı: {column_name}, Veri Türü: {data_type}")

Sütun Adı: 0, Veri Türü: int
Sütun Adı: ids, Veri Türü: bigint
Sütun Adı: date, Veri Türü: string
Sütun Adı: flag, Veri Türü: string
Sütun Adı: user, Veri Türü: string
Sütun Adı: text, Veri Türü: string

In [87]:
from pyspark.sql.functions import to_date, date_format

# "date" sütununu önce datetime veri türüne dönüştür
df = df.withColumn("date", to_date(df["date"], "EEE MMM dd HH:mm:ss zzz yyyy"))

# Dönüştürülmüş tarihi "dd/MM/yyyy" formatına dönüştür
df = df.withColumn("date", date_format(df["date"], "dd/MM/yyyy"))

In [48]:
from pyspark.sql.functions import col

# Yıl, ay, gün, saat, dakika ve saniyeye göre sıralanmış bir sütun oluştur
df = df.withColumn("timestamp", col("date").cast("timestamp"))

In [52]:
from pyspark.sql.functions import window

# Verileri belirli bir zaman periyoduna göre grupla ve topla
df_grouped = df.groupBy(window("timestamp", "1 day")).count()

In [69]:
df.show()

+------+----------+-------------------+--------+---------------+--------------------+
|     0|       ids|               date|    flag|           user|                text|
+------+----------+-------------------+--------+---------------+--------------------+
|799999|2329205794|2009-06-25 18:28:31|NO_QUERY|     tpchandler|has to resit exam...|
|799997|2329205473|2009-06-25 18:28:30|NO_QUERY|       LeeLHoke|rest in peace Far...|
|799998|2329205574|2009-06-25 18:28:30|NO_QUERY|   davidlmulder|@Eric_Urbane Soun...|
|799996|2329205038|2009-06-25 18:28:28|NO_QUERY|        bigenya|     Gmail is down? |
|799994|2329204987|2009-06-25 18:28:28|NO_QUERY|      360cookie|Tried to get the ...|
|799995|2329205009|2009-06-25 18:28:28|NO_QUERY|       dandykim|Sick  Spending my...|
|799992|2329204790|2009-06-25 18:28:27|NO_QUERY|      CJROSE218|@koolgirl37 read ...|
|799993|2329204835|2009-06-25 18:28:27|NO_QUERY|        mattfca|My life  http://m...|
|799991|2329204705|2009-06-25 18:28:27|NO_QUERY|  loveisnothing|@iaintnohomo  Ban...|
|799988|2329204559|2009-06-25 18:28:26|NO_QUERY|      court_lyn|Farrah Fawcett pa...|
|799989|2329204621|2009-06-25 18:28:26|NO_QUERY|        catfuel|Just payed my WAY...|
|799987|2329204554|2009-06-25 18:28:26|NO_QUERY|Christian12rock|R.I.P. Farrah God...|
|799986|2329204524|2009-06-25 18:28:26|NO_QUERY| sugarysweet912|I feel so dumb be...|
|799990|2329204651|2009-06-25 18:28:26|NO_QUERY|  Badmantalking|and I think it ha...|
|799984|2329204298|2009-06-25 18:28:25|NO_QUERY|    Pauline1951|@ehasselbeck wtch...|
|799985|2329204327|2009-06-25 18:28:25|NO_QUERY| mzcaramelfrapp|ugh, all my pics ...|
|799983|2329204067|2009-06-25 18:28:24|NO_QUERY|    lisetteayon|@shelbytyszka hmm...|
|799982|2329203761|2009-06-25 18:28:22|NO_QUERY|    i_loveyou09|I'm so sad I'm le...|
|799981|2329203475|2009-06-25 18:28:21|NO_QUERY|  annelizaohara|i have nothing to...|
|799979|2329203336|2009-06-25 18:28:21|NO_QUERY|  dailygluttony|Big lump in my th...|
+------+----------+-------------------+--------+---------------+--------------------+
only showing top 20 rows